body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

h1, h2 {
    margin: 0;
}

.skills, .experience, .languages, .education, .courses {
    margin: 20px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.skills ul, .languages ul {
    list-style-type: none;
    padding: 0;
}

.skills li, .languages li {
    margin-bottom: 10px;
}

.experience article {
    margin-bottom: 20px;
}

footer {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Optional: Add hover effect for links */
a {
    color: #333;
    text-decoration: none;
    transition: color 0.3s;
}

a:hover {
    color: #777;
}


nav {
    background-color: #333;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav li {
    display: inline;
    margin: 0 10px;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.about-content {
    text-align: center;
}

.about img {
    border-radius: 50%;
    max-width: 200px;
}

.about h2 {
    margin-top: 10px;
}

.about p {
    margin-top: 20px;
}

section {
    margin: 20px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 80px; /* Added extra bottom margin to accommodate footer */
}

#backToTopBtn {
    display: none;
    position: fixed;
    bottom: 80px; /* Adjusted the position */
    right: 20px;
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
}

#spacing {
    height: 60px;
}

